$breakpoints: (
  'sm': 'screen and (min-width: 400px)',
  'md': 'screen and (min-width: 768px)',
  'lg': 'screen and (min-width: 1000px)',
  'xl': 'screen and (min-width: 1200px)',
  'xs': 'screen and (min-width: 180px)',
) !default;

@mixin mq($from) {
  @media (max-width: $from) {
    @content;
  }
}
/* modal styles */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  background: rgba(0, 0, 0, 0.5);
}
.backdrop img {
  display: block;
  max-width: 90%;
  max-height: 90%;
  margin: 20px auto;
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
  //border: 3px solid white;
  @include mq('800px') {
    border: none;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
//////////////
.example-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.more {
  top: 10px;
  position: absolute;
  color: #fafafa;

  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 10px;
  z-index: 2;
}
.next,
.prev {
  top: calc(100% - 50px);
  position: absolute;
  color: white;
  border-radius: 30px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  z-index: 2;
}

.next {
  right: 85px;
}

.prev {
  left: 85px;
}
.more {
  right: 5px;
}

//   img {
//     position: absolute;
//     max-width: 100vw;
//   }

.refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
