$breakpoints: (
  'sm': 'screen and (min-width: 400px)',
  'md': 'screen and (min-width: 768px)',
  'lg': 'screen and (min-width: 1000px)',
  'xl': 'screen and (min-width: 1200px)',
  'xs': 'screen and (min-width: 180px)',
) !default;

@mixin mq($from) {
  @media (max-width: $from) {
    @content;
  }
}

.title h1 {
  color: #f25e5d;
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight: normal;
}
.title p {
  //text-align: center;
  margin: 2px 2px 4px 2px;
  font-size: 0.8rem;
}
.title h2 {
  margin-top: 25px;
  margin-bottom: 20px;
  font-size: 1.6rem;
  text-align: center;
}
